.clips-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.time-menu {
	position: absolute;
	background: #61729af7;
	display: flex;
	flex-direction: column;
	padding: 12px;
	margin-left: 202px;
	font-size: 14px;
	margin-top: 25px;
	border-top: 3px solid #3ba3ab;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	z-index: 100;
	transition: all 0.3s ease;
}

.time-menu > span:hover {
	color: #d4d4d4;
	cursor: pointer;
}
