.back-to {
  color: white;
  margin-bottom: -20px;
  opacity: 0.6;
  transition: all 0.3s ease;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;

  img {
    width: 20px;
    margin-bottom: -4px;
    padding-right: 10px;
  }
  b {
    letter-spacing: 1px;
  }
  &:hover {
    opacity: 0.9;
  }
}
