.Games {
	text-align: center;
}

.games-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 40px;
}

.games-container:after {
	content: "";
	flex: auto;
}

.games-item {
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
	padding-bottom: 20px;
}

.games-item > img {
	border: 3px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
	width: 150px;
}

.games-item > img:hover {
	border: 3px solid #0fa5a5;
	cursor: pointer;
}
