.comments-contain {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    max-width: 55%;
    margin-bottom: 25px;
}

.comment-output {
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% + 45px);
    padding: 10px;
    text-align: left;
    color: white;
    font-size: 13px;
    margin-left: -65px;
    text-indent: 55px;
    letter-spacing: 2px;
    opacity: 0.8;
    font-weight: 100;
    text-shadow: 0px 0px 5px #000;

    img {
        margin-bottom: -5px;
        width: 20px;
    }
}

.comment-vote {
    margin-left: -30px;
    width: 30px;
    margin-top: 17px;

    color: white;
    font-size: 12px;

    img {
        width: 20px;
        opacity: 0.3;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .comment-down {
        opacity: 0.5;
    }

    .comment-points {
        margin-top: -5px;
        text-align: center;
        margin-left: 1px;
        opacity: 0.5;
        user-select: none;
    }
}

.comment-user {
    width: 100%;
    display: flex;
    margin: 20px 0;
    .comment-avatar {
        width: 50px;
        height: 50px;
        padding-left: 10px;
        margin-right: -10px;
        z-index: 1;
    }

    .comment-message {
        width: 100%;
        padding-left: 20px;

        .comment-username {
            text-align: left;
            color: white;
            font-size: 16px;
            letter-spacing: 2px;
            opacity: 0.8;
            padding-bottom: 5px;
            text-shadow: 0px 0px 5px #000;
            span {
                color: #0fa5a5;
                font-weight: bold;
                font-size: 12px;
                text-shadow: 0px 0px 1px #000;
            }
        }

        .com {
            margin-left: -65px !important;
            width: calc(100% + 65px) !important;

            img {
                margin-bottom: -2px !important;
                opacity: 0.4;
            }
        }

        .btn-contain {
            width: calc(100% + 18px);
            margin-left: -19px;
            height: 20px;
            background-color: #00000096;

            .btn-by {
                float: left;
                font-size: 10px;
                color: white;
                letter-spacing: 3px;
                opacity: 0.4;
                margin-left: 10px;
                line-height: 20px;
            }

            .btn-post {
                z-index: 100;
                outline: none;
                border: none;
                width: 100px;
                height: 100%;
                color: rgba(255, 255, 255, 0.3);
                background: none;
                transition: all 0.3s ease;
                letter-spacing: 3px;
                float: right;
                cursor: pointer;
                div {
                    display: inline-block;
                    line-height: 18px;
                    font-size: 12px;
                    vertical-align: super;
                }

                .btn-icon {
                    width: 13px;
                    margin-right: 10px;
                    img {
                        margin-bottom: -4px;
                    }
                }
                &:hover {
                    color: rgba(255, 255, 255, 0.8);
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }

        textarea {
            width: calc(100% - 10px);
            height: 95px;
            background-color: rgba(0, 0, 0, 0.4);
            border: none;
            color: white;
            vertical-align: top;
            padding: 5px;
            resize: none;
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
            margin-left: -20px;
            &::placeholder {
                color: white;
                opacity: 0.6;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.comment-jump {
    width: 100%;
    margin: 20px 0;
    border-bottom: 2px solid #0fa5a5;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
    letter-spacing: 2px;
    font-weight: 500;
}

.view-comments {
    width: 100%;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.3);
    text-align: left;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    transition: all 0.3s ease;
    border-radius: 3px;
    &:hover {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }
}
