.post-contain {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}

.post-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    .post-menu-contain {
        width: 100%;
        height: 20px;
        background-color: #00000096;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        .post-menu-post {
            z-index: 100;
            outline: none;
            border: none;
            width: 100px;
            height: 100%;
            color: rgba(255, 255, 255, 0.3);
            background: none;
            transition: all 0.3s ease;
            letter-spacing: 3px;
            float: right;
            cursor: pointer;
            div {
                display: inline-block;
                line-height: 17px;
                font-size: 12px;
                vertical-align: super;
            }

            .post-menu-icon {
                width: 13px;
                margin-right: 10px;
                img {
                    margin-bottom: -4px;
                }
            }
            &:hover {
                color: rgba(255, 255, 255, 0.8);
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }

    textarea {
        width: calc(100% - 10px);
        min-height: 50px;
        background-color: rgba(0, 0, 0, 0.4);
        border: none;
        color: white;
        vertical-align: top;
        padding: 5px;
        resize: vertical;
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &::placeholder {
            color: white;
            opacity: 0.4;
        }

        &:focus {
            outline: none;
        }
    }
}

.post-jump {
    width: 100%;
    margin: 25px 0;
    border-bottom: 2px solid #0fa5a5;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
    letter-spacing: 2px;
    font-weight: 500;
}
