.clips-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    padding: 20px 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.4) 200%, black 100%);
}

.top-bar {
    position: absolute;
    right: 0;
    top: 112px;
}

.sort-menu {
    font-size: 14px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    z-index: 100;
    transition: all 0.3s ease;
    padding-right: 10px;

    div {
        display: inline;
        margin-left: 10px;
        text-align: center;
        transition: all 0.2s ease;
        letter-spacing: 2px;

        &:hover {
            cursor: pointer;
            border-bottom: 2px solid rgba(237, 79, 116, 0.8);
        }
    }
}

.sorting {
    display: flex;
    flex-direction: row;
    color: white;
    line-height: 20px;
    letter-spacing: 1px;
    opacity: 0.8;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    transition: all 0.3s ease;
    margin-right: 10px;

    span {
        margin-right: 10px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 2px;

        input {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #0fa5a5;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 1px;
            width: 150px;
            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
                font-size: 14px;
                letter-spacing: 1px;
            }
            &:focus {
                border: none;
                outline: none;
                border-bottom: 2px solid #0fa5a5;
            }
        }
    }

    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    &:hover {
        cursor: default;
    }
}

.sort-choice {
    border-bottom: 2px solid #0fa5a5;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 100;
    font-weight: 500 !important;
}

@media only screen and (max-width: 640px) {
    .top-bar {
        top: 75px;
        left: 0;
    }
    .sorting {
        justify-content: center;
        span {
            font-size: 12px;
        }
    }
    .sort-menu {
        font-size: 12px;
        div {
            display: block;
        }
    }

    .sort-choice {
        border-bottom: none;
    }
}
