.Streamers {
    text-align: center;
    margin: auto 15px;
}

.streamer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;

    &:after {
        content: "";
        flex: auto;
    }
}

.streamer-item {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    padding-bottom: 30px;

    img {
        border: 2px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
        transition: all 0.3s ease;

        &:hover {
            border: 2px solid rgba(15, 165, 165, 0.8);
            cursor: pointer;
        }
    }
}

.streamer-name {
    margin-top: -52px;
    width: 150px;
    margin-left: 2px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    line-height: 70px;
    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 100;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 50%, black 100%);
}
