.player-contain {
    height: 50vh;
    max-width: 55%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: 100;
}

iframe {
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
}

.player-bar {
    height: 70px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: space-between;
    margin-top: -4px;
}

.player-info-left {
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    width: 77%;
}

.player-title {
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
    width: 87%;
}
.player-title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: -5px;
    letter-spacing: 1px;
}

.player-name {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 2px;
    width: max-content;
    display: inline-block;
}

.player-link {
    display: inline-block;
    &:hover {
        cursor: pointer;
        color: #ed4f74;
    }
}

.player-iswhat {
    display: inline-block;
}

.player-logo {
    display: inline-block;
}

.player-logo > img {
    width: 50px;
    height: 50px;
}

.player-info-right {
    color: white;
    font-size: 20px;
    padding-top: 15px;
    font-weight: bold;
    padding-right: 10px;
    width: 170px;
}

.player-icons {
    text-align: center;
    img {
        width: 20px;
        padding: 10px 10px;
        opacity: 0.5;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .player-title {
        font-size: 12px;
        width: 87%;
    }
    .player-name {
        font-size: 10px;
    }
    .player-logo {
        img {
            width: 35px;
            height: 35px;
        }
    }

    .player-icons {
        img {
            width: 15px;
        }
    }
}

@media only screen and (max-width: 640px) {
    .player-contain {
        width: 80%;
        max-width: 100%;
    }

    .player-title {
        font-size: 12px;
        width: 97%;
        padding-right: 5px;
        padding-left: 0px;
    }
    .player-logo {
        img {
            display: none;
        }
    }

    .player-info-right {
        padding-top: 5px;
    }

    .player-bar {
        display: block;
        height: 100px;
    }
    .player-name {
        font-size: 9px;
        width: 80vw;
        margin-top: 5px;
    }
}
